<div class="container">
    <h1>Power BI - Sample - Client - Ember</h1>
    <p>Demonstrate how to consume Power BI API and render using ember components. <a href="https://github.com/Microsoft/powerbi-ember" target="_blank">powerbi-ember</a></p>
    
    <h2>Scenarios:</h2>
    <ul class="nav nav-pills">
        {{#link-to 'scenario1' tagName="li"}}<a href="">Scenario 1: Static Embed</a>{{/link-to}}
        {{#link-to 'scenario2' tagName="li"}}<a href="">Scenario 2: Dynamic Embed</a>{{/link-to}}
        {{#link-to 'scenario3' tagName="li"}}<a href="">Scenario 3: Custom Page Navigation</a>{{/link-to}}
        {{#link-to 'scenario4' tagName="li"}}<a href="">Scenario 4: Custom Filter Pane</a>{{/link-to}}
        {{#link-to 'scenario5' tagName="li"}}<a href="">Scenario 5: Default Page and/or Filter</a>{{/link-to}}
    </ul>
    <hr class="m-y-md">
    {{outlet}}
</div>