<h1>Static Embed</h1>
<p>Report to embed is known by the developer: {{model.id}}</p>

{{powerbi-report embedUrl=model.embedUrl accessToken=model.accessToken reportId=model.id class="powerbi-frame--dotted"}}
